.forgot-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0fdf4;
}

.forgot-card {
  width: 380px;
  padding: 35px;
  background: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.forgot-logo {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  background: #166534;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.forgot-card h1 {
  color: #166534;
  margin-top: 20px;
}

.forgot-card p {
  color: #64748b;
}

.forgot-card input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
}

.forgot-card button {
  width: 100%;
  padding: 12px;
  background: #166534;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.forgot-card button:hover {
  background: #15803d;
}

.back-login {
  display: block;
  margin-top: 20px;
  color: #166534;
  cursor: pointer;
}
