.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0fdf4;
}

.signup-card {
  width: 380px;
  padding: 35px;
  background: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.signup-logo {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  background: #166534;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.signup-card h1 {
  color: #166534;
}

.signup-card p {
  color: #64748b;
}

.signup-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
}

.signup-card button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: #166534;
  color: white;
  font-size: 16px;
}

.signup-card button:hover {
  background: #15803d;
}

.already span {
  color: #166534;
  cursor: pointer;
  margin-left: 5px;
}
